<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
				 xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
         xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
				 IgnorableNamespaces="uap mp uap2 uap3 uap4 uap5 rescap">
  <Identity Name="24101WamWooWamRD.Unicord" Publisher="CN=0F22111D-EDF0-42F0-B58D-26C4C5C5054B" Version="2.0.8.0" />
  <mp:PhoneIdentity PhoneProductId="5783aabf-3049-421f-ae1d-e88bd89018f2" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>Wan Kerr Co. Ltd.</PublisherDisplayName>
    <Logo>Assets\Store\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22000.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Unicord.Universal.App">
      <uap:VisualElements DisplayName="ms-resource:AppDisplayName" Square150x150Logo="Assets\Store\Square150x150Logo.png" Square44x44Logo="Assets\Store\Square44x44Logo.png" Description="ms-resource:AppDisplayDescription" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\Store\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Store\Wide310x150Logo.png" Square310x310Logo="Assets\Store\LargeTile.png" Square71x71Logo="Assets\Store\SmallTile.png" ShortName="Unicord">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Store\SplashScreen.png" BackgroundColor="transparent" uap5:Optional="true" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/>
        </uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <!--<uap5:Extension Category="windows.startupTask" StartPage="EntryPage">
          <uap5:StartupTask TaskId="UnicordStartup" DisplayName="Unicord" />
        </uap5:Extension>-->
        <uap:Extension Category="windows.voipCall">
        </uap:Extension>
        <uap4:Extension Category="windows.contactPanel">
          <uap4:ContactPanel />
        </uap4:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Share to Discord">
            <uap:SupportedFileTypes>
              <uap:SupportsAnyFileType />
            </uap:SupportedFileTypes>
            <uap:DataFormat>StorageItem</uap:DataFormat>
            <uap:DataFormat>Bitmap</uap:DataFormat>
            <uap:DataFormat>Text</uap:DataFormat>
            <uap:DataFormat>WebLink</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="ms-contact-profile">
            <uap:Logo>Assets\Store\Square44x44Logo.png</uap:Logo>
            <uap:DisplayName>Unicord</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="ms-ipmessaging">
            <uap:Logo>Assets\Store\Square44x44Logo.png</uap:Logo>
            <uap:DisplayName>Unicord</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="unicord">
            <uap:Logo>Assets\Store\Square44x44Logo.png</uap:Logo>
            <uap:DisplayName>Unicord</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="Unicord.Universal.Voice.Background.ServiceBackgroundTask">
          <uap:AppService Name="com.wankerr.Unicord.Voice" ServerName="Unicord.Universal.Voice.Background.ServiceBackgroundTask" />
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="Unicord.Universal.Voice.Background.VoiceBackgroundTask">
          <BackgroundTasks ServerName="Unicord.Universal.Voice.Background.ServiceBackgroundTask">
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="uni-theme">
            <uap:DisplayName>Unicord Theme</uap:DisplayName>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/x-unicord-theme">.uni-theme</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="Unicord.Universal.Background/Unicord.Universal.Background.exe">
          <desktop:FullTrustProcess/>
        </desktop:Extension>
        <uap:Extension Category="windows.appService">
          <uap:AppService Name="com.wankerr.Unicord.Notifications" />
        </uap:Extension>
        <uap5:Extension Category="windows.startupTask"
						Executable="Unicord.Universal.Background/Unicord.Universal.Background.exe"
						EntryPoint="Windows.FullTrustApplication">
          <uap5:StartupTask
            TaskId="UnicordBackgroundTask"
            Enabled="false"
            DisplayName="Unicord Notifications Task" />
        </uap5:Extension>
      </Extensions>
      <uap:ApplicationContentUriRules>
        <uap:Rule Type="include" Match="https://*.discord.com" WindowsRuntimeAccess="none"/>
        <uap:Rule Type="include" Match="https://discord.com" WindowsRuntimeAccess="none"/>
        <uap:Rule Type="include" Match="https://*.discordapp.com" WindowsRuntimeAccess="none"/>
        <uap:Rule Type="include" Match="https://discordapp.com" WindowsRuntimeAccess="none"/>
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="contacts" />
    <uap:Capability Name="voipCall" />
    <uap:Capability Name="phoneCall" />
    <rescap:Capability Name="runFullTrust"/>
    <DeviceCapability Name="microphone" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Unicord.Universal.Voice.dll</Path>
        <ActivatableClass ActivatableClassId="Unicord.Universal.Voice.VoiceClientStats" ThreadingModel="both"/>
        <ActivatableClass ActivatableClassId="Unicord.Universal.Voice.VoiceClientOptions" ThreadingModel="both"/>
        <ActivatableClass ActivatableClassId="Unicord.Universal.Voice.VoiceClient" ThreadingModel="both"/>
        <ActivatableClass ActivatableClassId="Unicord.Universal.Voice.Background.VoiceBackgroundTask" ThreadingModel="both"/>
        <ActivatableClass ActivatableClassId="Unicord.Universal.Voice.Background.ServiceBackgroundTask" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>