[submodule "Libraries/WamWooWam.Core"]
	path = Libraries/WamWooWam.Core
	url = https://github.com/WamWooWam/WamWooWam.Core
[submodule "Libraries/MomentSharp"]
	path = Libraries/MomentSharp
	url = https://github.com/WamWooWam/MomentSharp
[submodule "Libraries/DSharpPlus"]
	path = Libraries/DSharpPlus
	url = https://github.com/WamWooWam/DSharpPlus/
[submodule "Libraries/unicode.net"]
	path = Libraries/unicode.net
	url = https://github.com/wamwoowam/unicode.net
